<% title "DerDieDas - Feedback" %>

<div id="feedback">
	<h2 class="title">Feedback</h2>
  <p>Contact us with any questions, suggestions, comments or feedback. 
	Feel free to drop us a note explaining what type of support you need. 
	We're happy to help! 
  </p>
  <p>Send your questions, suggestions at: 
		<a href="mailto:support@derdiedas-perfekt.com">support@derdiedas-perfekt.com</a>
  </p>
  <p>
    Or just fill out the below form:
  </p>
  <div id="feedback_form">
    <% form_for @feedback do |f| %>
      <p><%= f.error_messages %></p>
      <p>
				<%= f.label :name, "Name:" %>
      	<%= f.text_field :name %>
      </p>
			<p>
				<%= f.label :email, "Email:" %>
      	<%= f.text_field :email %>
      </p>
			<p>
				<%= f.label :message, "Message:" %>
      	<%= f.text_area :message %>
      </p>
			<p><%= f.submit "Submit" %></p>
    <% end %>
  </div>
</div>
